<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IServiceChat">
            <security mode="None"></security>
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://10.9.0.2:8734/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IServiceChat" contract="ServiceChat.IServiceChat"
          name="NetTcpBinding_IServiceChat">
        </endpoint>
      </client>
    </system.serviceModel>
    <userSettings>
        <ChatClient.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Имя пользователя</value>
            </setting>
            <setting name="serverAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8734</value>
            </setting>
        </ChatClient.Properties.Settings>
    </userSettings>
</configuration>