<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceChat">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8734/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceChat" contract="ServiceChat.IServiceChat"
        name="NetTcpBinding_IServiceChat">
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EasyWcfChat.ServiceChat" behaviorConfiguration="mexBeh" >
        <endpoint address="" binding="netTcpBinding" contract="EasyWcfChat.IServiceChat" bindingConfiguration="NetTcpBinding_IServiceChat"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733" />
            <add baseAddress="net.tcp://localhost:8734" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>